#include "sungChoc.dtsi"

&kscan0 {
    col-gpios
        = <&gpio 19 GPIO_ACTIVE_HIGH>
        , <&gpio 18 GPIO_ACTIVE_HIGH>
        , <&gpio 15 GPIO_ACTIVE_HIGH>
        , <&gpio 14 GPIO_ACTIVE_HIGH>
        , <&gpio 16 GPIO_ACTIVE_HIGH>
        , <&gpio 10 GPIO_ACTIVE_HIGH>
        ;
};